* {
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Serif KR", serif;
  box-sizing: border-box;
}
html {
  height: 100vh;
}

.header {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.everydayhealth.com/images/healthy-plant-based-milks-00-intro-alt-1440x810.jpg?w=720");
  background-position: center;
  background-size: cover;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* padding-left: 50px; */
  padding: 50px 20px 50px 20px;
  margin-bottom: 50px;
}

.body-container {
  width: 990px;
  height: 100%;
  text-align: center;
  margin: 0 auto 40px auto;
}

.introduce {
  display: flex;
  flex-direction: row;
  float: left;
  height: 500px;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.introduce > img {
  width: 40%;
  object-fit: cover;
  margin-right: 30px;
  border-radius: 8px;
}

.introduce .teaminfo {
  width: 50%;
  text-align: left;
}

.teaminfo h3 {
  padding-top: 30px;
  margin-bottom: 10px;
}

.teaminfo p {
  text-align: center;
  padding: 5px;
}

.text-area {
  border: 1px solid rgba(51, 51, 51, 0.541);
  border-radius: 3px;
  padding: 20px;
  text-align: center;
}

.content {
  height: 40%;
}
.rules {
  height: 30%;
  overflow: auto;
}

.subtitle {
  margin-bottom: 50px;
}

.subtitle h3,
.subtitle p {
  display: inline;
}
.modalBtn {
  margin-top: 10px;
}
.newteam {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 20px auto 20px auto;
}
.hr {
  border: 1px solid #91acbe;
  width: 70%;
  margin: 0 auto 80px auto;
}
.team-container {
  width: 1000px;
  margin: auto;
}

.team-container > .team {
  margin: 0 5px 20px 5px;
}
.mainteam-container {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team {
  background-color: white;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-bottom: 50px;
  display: inline-block;
}

.team a {
  font-size: 16px;
  text-decoration: none;
}

.team img {
  height: 300px;
  object-fit: cover;
}
